/*--------------------------------------------------------------
## Site Header
--------------------------------------------------------------*/
/*	opacity
---------------------*/
.header-has-opacity .header-warp{
	position:absolute;
	width:100%;
	left:0;
	top:0;
	z-index:99;
}
.header-has-opacity .site-header{
	box-shadow: 0px 1px 0px rgba(0,0,0,0);
}
.header-has-opacity .site-subheader{
	padding-top:95px;
}


/*	fixed on scroll
---------------------*/
.header-fixed-on-scroll .fixed_header_holder{
	position:fixed;
	width:100%;
	left:0;
	top:-100px;
	
	-webkit-transition: top 1s ease;
	-moz-transition: top 1s ease;
	-o-transition: top 1s ease;
	transition: top 1s ease;	
	
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	z-index: 99998;
	
	display:none;
}
.header-fixed-on-scroll .pre-fixed .fixed_header_holder{
	display:block;
}
.header-fixed-on-scroll .fixed .fixed_header_holder{
	top:0;
}
.admin-bar.header-has-opacity .header-warp,
.admin-bar.header-fixed-on-scroll .fixed .fixed_header_holder{
	top:28px;	
}

/*	Topbar
---------------------*/
.topbar{
    font-size: 80%;
    padding-top: 7px;
    padding-bottom: 7px;
	background-color: #3b4044;
}
.topbar a{
    text-decoration: none;
    color: inherit;	
}
.topbar .elementText{
    margin-left: 10px;
    margin-right: 10px;
	margin-top:1px;
}
.topbar .elementText i.fa{
	color:#e68d02;
}

/*	topbar hand
---------------------*/
.topbar_open_hand {
	text-align:center;
    position: absolute;
    width: 30px;
    height: 30px;
    color: inherit;
    font-size: 25px;
    line-height: 30px;
    border-radius: 3px;
    top: 9px;
    right: -54px;
    z-index: 99;
	display:none;
}
.topbar_open_hand.used{
	display:block;
}
.topbar_open_hand:before{
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	
	content: "\f107";
}
.topbar_open_hand.active:before{	
	content: "\f106";
}

/*	Header
---------------------*/
.site-header{
    background: #fff;
	padding-top:10px;
	padding-bottom:10px;
	box-shadow: 0px 1px 0px #eaeaea;
	box-sizing: border-box;
}

a.responsive-menu-hand{
	left:	auto;
	right:10px;
}

/*
	Logo & title Styling
---------------------*/
.site-header .site-header-in{
	position:relative;	
}
.site-header .site-title,
.site-header .site-description{
	margin-top:0;
	margin-bottom:0;	
}
.site-header .site-title{
	line-height:1.1;
	font-size:24px;	
    font-weight: bold;
    margin-top: 7px;
}
.site-header .site-title a{
	text-decoration:none;
	color:#000;	
}
.site-header .site-description{
	font-size:14px;	
}
.site-header .ph1_logo img{
	max-width:100%;	
}

/*	Social Icons
----------------------*/
.social-icons a {
    height: 23px;
    width: 23px;
}
.social-icons a:hover{
	color: #1e73be;
}
.social-icons i.fa {
    font-size: 16px;
    line-height: 23px;
}


/*	Menu
----------------------*/
.main-navigation{ 
	float:right; 
	margin-top:3px; 
	margin-right: 5px; 
}
.main-navigation a {
    text-transform: uppercase;
    font-size: 13px;
}
.main-navigation li:hover,
.main-navigation .current_page_item,
.main-navigation .current-menu-item,
.main-navigation .current_page_ancestor{
	color: #e68d02;
}
.main-navigation ul ul{ top:100%; }


/*	Element Button
---------------------*/
.element_button{
    float: right;
    border-radius: 40px;
    padding: 5px 17px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 84%;
    background-color: rgba(255, 255, 255, 0);
}

/*	Element searchIcon
---------------------*/
.element_searchIcon{
	float:right;
	margin-top:12px;
	margin-left:5px;
	margin-right:5px;
}

/*	Element shoppingBag
---------------------*/
.element_shoppingBag{
	float:right;
	margin-top:12px;
	margin-left: 5px;
    margin-right: 5px;
}
.cart-contents-steed .woocommerce-Price-amount {
    display: none;
}



/*	Responsive Menu style
---------------------*/
.responsive-menu-head{
    background-color: #000000;
    overflow: hidden;	
}
a.responsive-menu-close {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    clear: both;
    height: 50px;
    width: 50px;
    text-align: center;
    display: block;
    background-color: rgba(255, 255, 255, 0);
    float: left;
}
.responsive-menu-head .element_button {
    float: right;
    border-radius: 0;
    padding: 0 10px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
}
.responsive-menu-head .element_shoppingBag {
    float: right;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: rgba(255, 255, 255, 0.3);
    height: 50px;
    width: 51px;
}
.responsive-menu-head .cart-contents-steed {
    text-decoration: none;
    position: relative;
    margin-top: 15px;
    display: block;
    margin-left: 10px;
    color: #fff;
}
.responsive-menu-head .element_searchIcon {
    float: right;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: rgba(255, 255, 255, 0.22);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}


@media (max-width: 1200px) {
	.topbar{
		display:none;	
	}
	.topbar_open_hand{
		display:block;	
	}
	.topbar .elementText{
		border-top: 1px solid rgba(0, 0, 0, 0.18);
		padding-top: 5px;
		padding-bottom: 5px;
		max-width: 500px;
		display: block;
		margin: 0 auto;
	}
	.site-branding{
		width:100%;	
	}
	.header-widgets{
		display:none;	
	}
	a.responsive-menu-hand{
		display:block;	
	}
	.topbar_open_hand {
		right: 54px;
	}
}

@media screen and (max-width: 782px){
	.admin-bar.header-has-opacity .header-warp, .admin-bar.header-fixed-on-scroll .fixed .fixed_header_holder {
		top: 46px;
	}
}
@media screen and (max-width: 600px){
	.admin-bar.header-fixed-on-scroll .fixed .fixed_header_holder{
		top:0;	
	}
}

@media (max-width: 768px) {
	.header-widgets > .row > div{
		border-top:1px solid #f0f0f0;
		padding-top:10px;
		margin-top:10px;	
	}
}
