/*
	Others
-------------------------------------------------------*/
.ec_full_width_child_image img{
	width:100%;
}





/*
	Section
-------------------------------------------------------*/
.ec_section:after,
.ec_section:after,
.ec_section_in:after,
.ec_section_in:after{
	content:" ";
	display:table;
	clear:both;
}
.ec_section_in{
	width:90%;
	max-width:1200px;
	margin:0 auto;	
}

.stretch_row_content .ec_section_in{
	width:100%;
	max-width:100%;
}
.stretch_row_content .ec_section_in .row{
	margin-left:0;
	margin-right:0;
}

.stretch_row_content_no_spaces .ec_section_in{
	width:100%;
	max-width:100%;
}


.ec_section.equal_height_yes .row{
	display:flex;
}

@media screen and (max-width: 980px){
	.ec_section.equal_height_yes .row{
		display:block;
	}
}




/*
	Slider 1
-------------------------------------------------------*/
.ec_slideshow .owl-carousel{
	overflow:hidden;	
}
.ec_slideshow .ec_s_item_in{
	position:relative;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.ec_slideshow .ec_s_item img{
	
}
.ec_slideshow .ec_s_content{
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
	z-index:2;
	left:0;
	top:0;
}
.ec_slideshow .ec_s_con{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
    width: 64%;
    left: 18%;
}
.ec_slideshow h3{
	margin-top: 0;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
}
.ec_slideshow p{
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 20px;
}
.ec_slideshow .btn{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
}


/*-- animation --*/
.ec_slideshow.animation_on .active h3,
.ec_slideshow.animation_on .active p,
.ec_slideshow.animation_on .active .btn-primary,
.ec_slideshow.animation_on .active .btn-info{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.ec_slideshow.animation_on .active h3{
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
.ec_slideshow.animation_on .active p{
	-webkit-animation-name: fadeInDownBig;
	animation-name: fadeInDownBig;
}
.ec_slideshow.animation_on .active .btn-primary{
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}
.ec_slideshow.animation_on .active .btn-info{
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}




/*-- Pre Loader --*/
.ec_slideshow .owl-carousel{
	display:block;
}
.ec_slideshow .ec_s_item{
	display:none;
}
.ec_slideshow .ec_s_loader{
	background:#BCBCBC;
	height:300px;
	width:100%;
	text-align:center;
	position:relative;
}
.ec_slideshow .ec_s_loader i.fa{
	color:#000;
	position:absolute;	
	top:50%;
	margin-top:-30px;
}
.ec_slideshow .owl-loaded .ec_s_loader{
	display:none;	
}
.ec_slideshow .owl-loaded .ec_s_item{
	display:block;
}

/*-- Arrow Nav --*/
.ec_slideshow .owl-theme .owl-controls .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 0;
    background: rgba(0, 0, 0, 0.74);
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    line-height: 74px;
    -webkit-transition: all 0.13s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 0.13s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    border-radius: 100%;
    text-align: center;
}
.ec_slideshow .owl-theme .owl-controls .owl-nav [class*=owl-]:before{
	font-size:24px !important;
	content: "\f104";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;	
}
.ec_slideshow .owl-theme .owl-controls .owl-nav .owl-next:before{
	content: "\f105";	
}
.ec_slideshow .owl-theme .owl-controls .owl-nav .owl-prev{ left: -80px; }
.ec_slideshow .owl-theme .owl-controls .owl-nav .owl-next{ right: -80px; }
.ec_slideshow:hover .owl-theme .owl-controls .owl-nav .owl-prev{ left: 20px; }
.ec_slideshow:hover .owl-theme .owl-controls .owl-nav .owl-next{ right: 20px; }

/*-- Dot Nav --*/
.ec_slideshow .owl-theme .owl-dots{
	text-align: center;
    position: absolute;
    z-index: 3;
    width: 100%;
    bottom: 20px;
}
.ec_slideshow .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.ec_slideshow .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 7px;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 2px solid #fff;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.36);
}
.ec_slideshow .owl-theme .owl-dots .owl-dot.active span, 
.ec_slideshow .owl-theme .owl-dots .owl-dot:hover span {
    background: rgba(255, 255, 255, 0.37);
}


@media screen and (max-width: 1100px){
	.ec_slideshow h3{
		font-size: 30px;
	}
	.ec_slideshow p{
		font-size:14px;
	}
	.ec_slideshow .ps1_con{
		width: 90%;
		left: 5%;
	}
	.ec_slideshow .btn-lg {
		padding: 6px 17px;
		font-size: 14px;
	}
}
@media screen and (max-width: 700px){
	.ec_slideshow .btn-lg {
		display:none;
	}
}
@media screen and (max-width: 600px){
	.ec_slideshow h3{
		font-size: 18px;
	}
	.ec_slideshow p {
		display:none;
	}
}
@media screen and (max-width: 350px){
	.ec_slideshow h3 {
		display:none;
	}
}



/*
	Text
-------------------------------------------------------*/
.ec_text.color_dark,
.ec_text.color_dark h1,
.ec_text.color_dark h2,
.ec_text.color_dark h3,
.ec_text.color_dark h4,
.ec_text.color_dark h5,
.ec_text.color_dark h6{
	color:#000;
	border-color:#000;
}
.ec_text.color_light,
.ec_text.color_light h1,
.ec_text.color_light h2,
.ec_text.color_light h3,
.ec_text.color_light h4,
.ec_text.color_light h5,
.ec_text.color_light h6{
	color:#fff;
	border-color:#fff;
}