.site-footer{
	color:#fff;
	text-align:left;
	padding-bottom:0px;
	padding-top:0px;
}
.site-footer h3 {
    margin-bottom: 25px;
}
.site-footer .widget {
    margin-bottom: 25px;
	font-size: 14px;
}
.site-footer .widget h2{
	font-size:18px;
	margin-top:0px;
}
.site-footer .widget p{
	margin-top:0px;
	margin-bottom:10px;

}
.site-footer a{
	color:#ababab;
	text-decoration:none;	
}
.site-footer a:hover{
	text-decoration:underline;	
}

.footer-widgets {
    padding: 70px 0 40px 0;
    background: #FFFFFF;
    position: relative;
    box-shadow: 0px -3px 3px rgba(0,0,0,0.1);
    border-top: solid 1px #D0CFCF;
    color: #36404B;
}

.footer-bar{
    padding: 40px 0;
    background-color: #222631;
    text-align: center;
    color: #fff;
}