.steed_pc_section:after, 
.steed_pc_section:before, 
.steed_pc_section_in:after, 
.steed_pc_section_in:before{
    content: "";
    display: table;
    clear: both;
    width: 100%;
}
.steed_pc_section{
	width:100%;
	position:relative;
	overflow:hidden;
}
.steed_pc_section_in{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.steed_pc_section.pc-full-width .steed_pc_section_in{
	max-width: 100%;
    width: 100%;
}

.pc-text-align-center{
	text-align:center;	
}
.pc-text-align-left{
	text-align:left;	
}
.pc-text-align-right{
	text-align:right;	
}


.pc-button{
	display:inline-block;
	padding: 10px 25px;
	background-color:#000;
	color:#fff;
	text-decoration: none;
	border-radius: 4px;
}
.pc-button-o{
	display:inline-block;
	padding: 10px 25px;
	background-color:#000;
	color:#fff;
	text-decoration: none;
	border-radius: 4px;
}

/*	
	Page Content
	@ steed_pc_section_page_content
======================================================*/
.pc_section_page_content:after{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:0;
	display: block;
}
.pc_section_page_content .steed_pc_section_in{
	position:relative;
	z-index:1;
}

.pc_section_page_content .more-link{ display:none !important; }

/*~-~ Image Full_Left & Full_Right~-~*/
.pc_section_page_content.pc-image-full_left{

}
.pc_section_page_content.pc-image-full_left .steed_pc_section_in,
.pc_section_page_content.pc-image-full_right .steed_pc_section_in{
	width: 100%;
	max-width: 100%;
	display: flex;
}
.pc_section_page_content.pc-image-full_left .pc_image,
.pc_section_page_content.pc-image-full_right .pc_image{
	width: 50%;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.pc_section_page_content.pc-image-full_left .pc_content,
.pc_section_page_content.pc-image-full_right .pc_content{
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.pc_section_page_content.pc-image-full_left .pc_content_in,
.pc_section_page_content.pc-image-full_right .pc_content_in{
	max-width:600px;
	padding-left:50px;
	box-sizing: border-box;
	width:90%;
}
.pc_section_page_content.pc-image-full_right .pc_content_in{
	padding-left:0px;
	padding-right:50px;
	float:right;
}
.pc_section_page_content.pc-image-full_left .steed_pc_section_in:after, .pc_section_page_content.pc-image-full_left .steed_pc_section_in:before,
.pc_section_page_content.pc-image-full_right .steed_pc_section_in:after, .pc_section_page_content.pc-image-full_right .steed_pc_section_in:before{
	display:none;
}
@media (max-width: 992px) {
	.pc_section_page_content.pc-image-full_left .steed_pc_section_in,
	.pc_section_page_content.pc-image-full_right .steed_pc_section_in{
		display: block;
	}
	.pc_section_page_content.pc-image-full_left .pc_image,
	.pc_section_page_content.pc-image-full_right .pc_image{
		width: 100%;
		height:400px;
	}
	.pc_section_page_content.pc-image-full_left .pc_content,
	.pc_section_page_content.pc-image-full_right .pc_content{
		width: 100%;
	}
	.pc_section_page_content.pc-image-full_left .pc_content_in,
	.pc_section_page_content.pc-image-full_right .pc_content_in{
		padding-left:0px;
		margin:0 auto;
		max-width:992px;
	}
	pc_section_page_content.pc-image-full_right .pc_content_in{
		padding-right:0px;
	}
}

/*~-~ Image Left & Right~-~*/
.pc_section_page_content.pc-image-left .pc_image,
.pc_section_page_content.pc-image-right .pc_image{
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.pc_section_page_content.pc-image-left .pc_content,
.pc_section_page_content.pc-image-right .pc_content{
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.pc_section_page_content.pc-image-left .pc_image,
.pc_section_page_content.pc-image-right .pc_content{
	padding-right:25px;
}
.pc_section_page_content.pc-image-left .pc_content,
.pc_section_page_content.pc-image-right .pc_image{
	padding-left:25px;
}


/*	
	Widget Layout
	@ steed_pc_section_widget_layout
======================================================*/
.pcswl{
	position:relative;	
}
.pcswl .steed_pc_section_in{
	position:relative;
	z-index:1;
}
.pcswl_overlay{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:0;
	display: block;	
}

/*
	accordion
--------------------------------*/
.pcswl-accordion{
		
}
.pcswl-accordion .pcswl_ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.pcswl-accordion .pcswl_li{
	margin:0;
	padding:0;
	list-style-type:none;
	overflow:hidden;
}
.pcswl-accordion .pcswl_item_title{
	width: 100%;
	background-color: #F7F7F7;
	padding: 16px 20px;
	border: solid 1px #ececec;
	font-size: 18px;
	font-weight: bold;
	cursor:pointer;
	position: relative;
	box-sizing: border-box;
}
.pcswl-accordion .pcswl_item_title:after{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: initial;
	content: "\f067";
	color: inherit;
	position: absolute;
	right: 15px;
	top:22px
}
.pcswl-accordion .pcswl_item_title.pc-active:after{
	content: "\f00d";
	
}
.pcswl-accordion .pcswl_item_title + div{	
	background-color: #F7F7F7;
	width: 100%;
	padding: 16px 20px;
	padding-top:0;
	border: solid 1px #ececec;
	display:none;
}
.pcswl-accordion .pcswl_item_title.pc-active{
	border-bottom:0;
}
.pcswl-accordion .pcswl_item_title + div.pc-active{
	
}

.pcswl-accordion .pcswl_item_title:before,
.pcswl-accordion .pcswl_item_title + div:after,
.pcswl-accordion .pcswl_item_title + div:before{
	content:" ";
	display: table;
	clear: both;
	width: 100%;
	visibility: hidden;
}

/*
	toggle
--------------------------------*/
.pcswl-toggle{
		
}
.pcswl-toggle .pcswl_ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.pcswl-toggle .pcswl_li{
	margin:0;
	padding:0;
	list-style-type:none;
	overflow:hidden;
	margin-bottom:30px;
}
.pcswl-toggle .pcswl_item_title{
	width: 100%;
	background-color: #F7F7F7;
	padding: 16px 20px;
	border: solid 1px #ececec;
	font-size: 18px;
	font-weight: bold;
	cursor:pointer;
	position: relative;
	box-sizing: border-box;
}
.pcswl-toggle .pcswl_item_title:after{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 150%;
	content: "\f107";
	color: inherit;
	position: absolute;
	right: 15px;
}
.pcswl-toggle .pcswl_item_title.pc-active:after{
	content: "\f103";
	
}
.pcswl-toggle .pcswl_item_title + div{	
	background-color: #F7F7F7;
	width: 100%;
	padding: 16px 20px;
	padding-top:0;
	border: solid 1px #ececec;
	display:none;
}
.pcswl-toggle .pcswl_item_title.pc-active{
	border-bottom:0;
}
.pcswl-toggle .pcswl_item_title + div.pc-active{
	
}

.pcswl-toggle .pcswl_item_title:before,
.pcswl-toggle .pcswl_item_title + div:after,
.pcswl-toggle .pcswl_item_title + div:before{
	content:" ";
	display: table;
	clear: both;
	width: 100%;
	visibility: hidden;
}


/*
	Flexslider
--------------------------------*/
.pcswl-flexslider .flexslider{
	background-color: rgba(255, 255, 255, 0);
	margin-bottom: 0;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
	-o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
}


/*~-| Skin 1 |-~*/
.pcswl-flexslider.pcSkin1 .steed_pc_section_in{width:100%;max-width:100%;}
.pcswl-flexslider.pcSkin1 .flex-direction-nav a {
	text-decoration: none;
	display: block;
	width: 50px;
	height: 50px;
	margin: -20px 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 100%;
	border: solid 2px #fff;
	font-size: 0;
	text-align: center;
	line-height: 50px;
}
.pcswl-flexslider.pcSkin1 .flex-direction-nav a:before {
  	display: inline-block;
  	font: normal normal normal 14px/1 FontAwesome;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	font-size: 30px;
  	content: "\f104";
  	color: #fff;
  	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0);
  	line-height: 43px;
}
.pcswl-flexslider.pcSkin1 .flex-direction-nav a.flex-next:before { content: '\f105'; }
.pcswl-flexslider.pcSkin1 .flex-direction-nav .flex-prev { left: -50px; }
.pcswl-flexslider.pcSkin1 .flex-direction-nav .flex-next { right: -50px; text-align: center; }
.pcswl-flexslider.pcSkin1 .flexslider:hover .flex-direction-nav .flex-prev { opacity: 1; left: 10px; }
.pcswl-flexslider.pcSkin1 .flexslider:hover .flex-direction-nav .flex-prev:hover { opacity: 1; background: rgba(255, 255, 255, 0.1);}
.pcswl-flexslider.pcSkin1 .flexslider:hover .flex-direction-nav .flex-next {opacity: 1;right: 10px;}
.pcswl-flexslider.pcSkin1 .flexslider:hover .flex-direction-nav .flex-next:hover {opacity: 1;background: rgba(255, 255, 255, 0.1);}
.pcswl-flexslider.pcSkin1 .flex-control-nav {width: 100%;position: absolute;bottom: 10px;text-align: center;z-index: 2;}
.pcswl-flexslider.pcSkin1 .flex-control-paging li a{
	width: 13px;
    height: 13px;
	border: solid 2px #fff;
	background: rgba(0, 0, 0, 0);
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
}
.pcswl-flexslider.pcSkin1 .flex-control-paging li a.flex-active{background: rgba(255, 255, 255, 0.6);}


/*~-| Skin 2 |-~*/
.pcswl-flexslider.pcSkin2 .flex-direction-nav a {
	text-decoration: none;
	display: block;
	width: 50px;
	height: 50px;
	margin: -20px 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 100%;
	border: solid 2px #fff;
	font-size: 0;
	text-align: center;
	line-height: 50px;
}
.pcswl-flexslider.pcSkin2 .flex-direction-nav a:before {
  	display: inline-block;
  	font: normal normal normal 14px/1 FontAwesome;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	font-size: 30px;
  	content: "\f104";
  	color: #fff;
  	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0);
  	line-height: 43px;
}
.pcswl-flexslider.pcSkin2 .flex-direction-nav a.flex-next:before { content: '\f105'; }
.pcswl-flexslider.pcSkin2 .flex-direction-nav .flex-prev { left: -50px; }
.pcswl-flexslider.pcSkin2 .flex-direction-nav .flex-next { right: -50px; text-align: center; }
.pcswl-flexslider.pcSkin2 .flexslider:hover .flex-direction-nav .flex-prev { opacity: 1; left: 10px; }
.pcswl-flexslider.pcSkin2 .flexslider:hover .flex-direction-nav .flex-prev:hover { opacity: 1; background: rgba(255, 255, 255, 0.1);}
.pcswl-flexslider.pcSkin2 .flexslider:hover .flex-direction-nav .flex-next {opacity: 1;right: 10px;}
.pcswl-flexslider.pcSkin2 .flexslider:hover .flex-direction-nav .flex-next:hover {opacity: 1;background: rgba(255, 255, 255, 0.1);}
.pcswl-flexslider.pcSkin2 .flex-control-nav {width: 100%;position: absolute;bottom: 10px;text-align: center;z-index: 2;}
.pcswl-flexslider.pcSkin2 .flex-control-paging li a{
	width: 13px;
    height: 13px;
	border: solid 2px #fff;
	background: rgba(0, 0, 0, 0);
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
}
.pcswl-flexslider.pcSkin2 .flex-control-paging li a.flex-active{background: rgba(255, 255, 255, 0.6);}


/*
	GRID
--------------------------------*/
.pcswl-grid .pcswl_ul{
	margin:0;
	padding:0;
	list-style-type:none;	
}
.pcswl-grid .pcswl_li{
	margin:0;
	padding:0;
	list-style-type:none;
	float:left;
}
@media (min-width: 992px) {
	.pc-col-1 .pcswl_li{
		width:100%;
	}
	.pc-col-2 .pcswl_li{
		width:50%;
	}
	
	.pc-col-3 .pcswl_li{
		width:33.33%;
	}
	.pc-col-4 .pcswl_li{
		width:25%;
	}
	.pc-col-5 .pcswl_li{
		width:20%;
	}
	.pc-col-6 .pcswl_li{
		width:16.66%;
	}
	.pc-col-7 .pcswl_li{
		width:14.28%;
	}
	.pc-col-2 .pcswl_li:nth-child(2n+1),
	.pc-col-3 .pcswl_li:nth-child(3n+1),
	.pc-col-4 .pcswl_li:nth-child(4n+1),
	.pc-col-5 .pcswl_li:nth-child(5n+1),
	.pc-col-6 .pcswl_li:nth-child(6n+1),
	.pc-col-7 .pcswl_li:nth-child(7n+1){
		clear: left;
	}
}
@media (max-width: 992px) {
	.pc-col-t-1 .pcswl_li{
		width:100%;
	}
	.pc-col-t-2 .pcswl_li{
		width:50%;
	}
	.pc-col-t-3 .pcswl_li{
		width:33.33%;
	}
	.pc-col-t-4 .pcswl_li{
		width:25%;
	}
	.pc-col-t-5 .pcswl_li{
		width:20%;
	}
	.pc-col-t-6 .pcswl_li{
		width:16.66%;
	}
	.pc-col-t-7 .pcswl_li{
		width:14.28%;
	}
	.pc-col-t-2 .pcswl_li:nth-child(2n+1),
	.pc-col-t-3 .pcswl_li:nth-child(3n+1),
	.pc-col-t-4 .pcswl_li:nth-child(4n+1),
	.pc-col-t-5 .pcswl_li:nth-child(5n+1),
	.pc-col-t-6 .pcswl_li:nth-child(6n+1),
	.pc-col-t-7 .pcswl_li:nth-child(7n+1){
		clear: left;
	}
}
@media (max-width: 768px) {
	.pc-col-m-1 .pcswl_li{
		width:100%;
	}
	.pc-col-m-2 .pcswl_li{
		width:50%;
	}
	.pc-col-m-3 .pcswl_li{
		width:33.33%;
	}
	.pc-col-m-4 .pcswl_li{
		width:25%;
	}
	.pc-col-m-5 .pcswl_li{
		width:20%;
	}
	.pc-col-m-6 .pcswl_li{
		width:16.66%;
	}
	.pc-col-m-7 .pcswl_li{
		width:14.28%;
	}
	.pc-col-m-2 .pcswl_li:nth-child(2n+1),
	.pc-col-m-3 .pcswl_li:nth-child(3n+1),
	.pc-col-m-4 .pcswl_li:nth-child(4n+1),
	.pc-col-m-5 .pcswl_li:nth-child(5n+1),
	.pc-col-m-6 .pcswl_li:nth-child(6n+1),
	.pc-col-m-7 .pcswl_li:nth-child(7n+1){
		clear: left;
	}
}